<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="proyectoConnectionString" connectionString="Data Source=EVOROCK-PC\EVOROCK;Initial Catalog=proyecto;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="inventarioConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=&quot;C:\Users\evorock\Documents\Visual Studio 2010\WebSites\WebSite4\inventario.accdb&quot;"
   providerName="System.Data.OleDb" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
	</system.web>
</configuration>
